/venv_final
/.vscode
Final_v1/ner_modelfinal_v1
Final_v1/ner_modelfinal_v2
Final_v1/ner_modelfinal_v4
Final_v1/ner_modelfinal_v3
Final_v1/ner_modelfinal_v5
Final_v1/ner_modelfinal_3 
Final_v1/ner_modelfinal_5
Final_v1/ner_modelfinal_10
Final_v1/ner_modelfinal_15
Final_v1/ner_modelfinal_20
Final_v1/ner_modelfinal_25
/NER_TrainingArgs
/.streamlit
Final_v1/pull_loss.py
Final_v1/train.py
/Website/utils_old.py
/Website/utils_old_new.py
Final_v1/train_old.py
/NER_TrainingArgs_10
/NER_TrainingArgs_3
/NER_TrainingArgs_25
/NER_TrainingArgs_20
/NER_TrainingArgs_5
/NER_TrainingArgs_10
/NER_TrainingArgs_15
/TEST_EVAL